:root {
  --rojito: rgb(200, 25, 50);
  --azulito: rgb(90, 120, 150);
  --grisecito: rgb(75, 75, 90);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: var(--azulito);
}

#navbar {
  width: 100%;
  min-height: 50px;
  position: fixed;
  top: 0;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--rojito);
}

#navbar ul {
  display: flex;
  flex-direction: row; 
  margin-right: 25px;
}
#navbar li {
  padding: 15px;
  cursor: pointer;
  text-align: center;
}

#navbar li:hover {
  background-color: var(--azulito);
}

@media (max-width: 650px) {
  #navbar {
    justify-content: center;
    font-size: 1.2rem;
  }
  #navbar ul {
  display: flex;
  flex-direction: column;
  padding: 5px;
  }
}

#welcome-section {
  background: linear-gradient(45deg, rgb(75, 75, 75), rgb(20, 20, 20));
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section h1 {
  color: white;
  font-size: 6rem;
}

#welcome-section p {
  font-size: 3rem;
  color: var(--rojito);
}

#project-section h2 {
  font-size: 3rem; 
  margin: 0 6rem 75px;
  padding: 75px 0 1rem;
  text-align: center;
  color: white;
  border-bottom: 5px solid white;
}

#projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1280px;
  justify-content: center;
  margin: 0 auto;
}

#projects a {
  margin: 20px;
  justify-content: center;
}

#projects img {
  width: 100%;
  height: calc(100% - 6rem);
  background-color: var(--grisecito);
  display: block;
  border-radius: 5px 5px 0 0;
}

.project-title {
  background-color: var(--grisecito);
  width: 100%;
  height: 4rem;
  font-size: 1.3rem; 
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 5px 5px;
}

.code {
  color: var(--grisecito);
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 900;
  transition: 0.5s; 
}

#projects a:hover .code {
  color: var(--rojito);
}

@media (max-width: 725px) {
  #projects {
    grid-template-columns: 1fr;
  }
}

.btn {
  width: 150px;
  background-color: var(--grisecito);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0 10px 10px;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  border-radius: 5px;
}

.gt {
  margin: 0 auto;
  color: white;
  font-weight: 900;
  transition: 0.5s;
}

.btn:hover .gt {
  transform: translateX(5px);
}

footer {
  background-color: var(--grisecito);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px auto 0;
}

footer h2 {
  text-align: center;
  padding: 50px 0 25px;
  font-size: 4rem;
  color: white;
  font-weight: 600;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.social img {
  width: 1.5rem;
  height: 1.5rem;
}

.social li {
  padding: 0 20px;
  transition: 0.2s;
}

.social a {
  font-size: 1.8rem;
  color: white;
}

.social li:hover {
  transform: translateY(10px);
}
